/* GENERAL CONFIG */
* {
    font-family: 'Oswald', sans-serif;
}

h1{
  font-size: 48px;
  padding-top: 80px;
  text-align: center;
}

img{
  width: 100%;
  height: 100%;
  display: flex;
}


.fondo{
  background: linear-gradient(
    to top,
    rgba(30, 35, 38, 0.466),
    rgba(30, 35, 38, 0.466)
  ), url(../../../assets/images/fondo.jpg);
  background-size: cover;
  background-position: center;
  margin-top: 20px;
  height: auto;

}

.desc{
  font-size: 24px;
  text-align: center;
}

  
.card {
  background: #252A2E;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition:  0.3s ease-in-out;
}

.card.active {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.200);
}

.card:not(.active):hover {
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.150);
}

.card-body {
  margin-bottom: -10px; 
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
  
.card h2 {
  font-size: 25px;
  padding-top: 25px;
  justify-content: center;
}
  

.card-info{
  margin: 20px;
  margin-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
