<!-- 
<section id="portafolio" class="fondo">
  <h1>Proyectos</h1>
  <p class="desc">Este es un espacio donde muestro los proyectos en los que participé, mis proyectos realizados y los que se encuentran en progreso.</p>

  <div class="container">
    <hr> 
    <div class="row">
      <div class="col-md-3" *ngFor="let p of proyecto; let i = index">

        <div class="card  mb-3" 
          [ngClass]="{ 'active': i === currentCard }" 
          [attr.data-card-index]="i">

          <hr>
          <h2>{{ p.nombreP }}</h2>
          
          <div *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editproyecto/{{p.id}}">
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button class="btn btn-danger" (click)="delete(p.id)">
              <i class="fa-solid fa-trash fa-sm"></i>
            </button>
          </div>

        </div>
      </div> 
       
  </div>

  <div class="card-info" *ngIf="currentCard >= 0">
    <p>{{ proyecto[currentCard].descripcionP }}</p>
  </div>
  <div class="card-info" *ngIf="currentCard < 0 || currentCard >= proyecto.length">
    <p>Selecciona un proyecto para ver su información.</p>
  </div> 

  <button type="button" class="btn btn-light" routerLink="/nuevoproyecto" *ngIf="isLogged">Agregar proyecto</button>
</div>
</section> 
-->