<div class="container" *ngIf="perfil">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">

                <h2>PERFIL</h2>
                <div class="form-group">
                    <label for="nombreP">Nombre</label>
                    <input type="text" class="form-control" id="nombreP" name="nombreP" [(ngModel)]="perfil.nombreP" required>
                </div>
                <div class="form-group">
                    <label for="apellidoP">Apellido</label>
                    <input type="text" class="form-control" id="apellidoP" name="apellidoP" [(ngModel)]="perfil.apellidoP" required>
                </div>
                <div class="form-group">
                    <label for="apodoP">Apodo</label>
                    <input type="text" class="form-control" id="apodoP" name="apodoP" [(ngModel)]="perfil.apodoP" required>
                </div>

                <div class="form-group">
                  <label for="imgP">Foto de perfil</label>
                  <input type="file" class="form-control" id="imgP" name="imgP" [(ngModel)]="perfil.imgP" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png" required>
              </div>
                <div class="form-group">
                    <h6>Títulos</h6>
                    <ul class="list-group">
                      <li *ngFor="let t of titulo" class="d-flex align-items-center">
                        {{ t.nombreT }}
                        <button type="button" class="btn btn-danger" (click)="delete(t.id, $event)"> 
                          <i class="fa-solid fa-trash fa-sm"></i>
                        </button>
                      </li>
                    </ul>
                  
                    <button *ngIf="!isAgree" type="button" class="btn btn-light" (click)="isAgree = true">Agregar título</button>
                  
                    <!-- Este div estará oculto hasta que se presione el botón de agregar título -->
                    <div *ngIf="isAgree" class="mt-3">
                      <h3>Agregar nuevo título</h3>
                      <form (submit)="agregarTitulo()">
                        <div class="form-group">
                          <label for="nombre-titulo">Nombre del título:</label>
                          <input type="text" id="nombreT" name="nombreT" [(ngModel)]="nombreT" required class="form-control">
                        </div>
                        <button type="submit" class="btn btn-light">Guardar título</button>
                        <button type="button" class="btn btn-danger" (click)="cancelarAgregarTitulo()">Cancelar</button>
                      </form>
                    </div>
                  </div>
                  
                <button class="btn btn-success btn-finish">Actualizar perfil</button>
                <button class="btn btn-danger btn-finish" (click)="cancelar()">Cancelar</button>

            </form>
        </div>
    </div>
</div>
