<footer>
    <div class="container">
      <div class="row">

        <div class="col-sm-6" *ngFor="let Contacto of contacto" >

            <h4>Contacto</h4>
            <ul>
                <li><i class="fa fa-envelope"></i> {{Contacto.emailC}}</li>
                <li><i class="fa fa-phone"></i> {{Contacto.telefonoC}}</li>
            </ul>

            <div class="social">
                <h4>Redes sociales</h4>
                <nav>
                    <ul>
                        <li><a href="https://www.linkedin.com/in/tomas-mazzo-029839253/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        </li>
                        <li><a href="https://github.com/sirMazo" target="_blank">
                            <i class="fab fa-github"></i>
                        </a>
                        </li>
                        <li><a href="https://twitter.com/SirMaso1" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                        </li>
                            <li><a href="https://instagram.com/sir.mazo?igshid=NTA5ZTk1NTc=" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <!-- PARA EL FUTURO -->
        <div class="col-sm-6">
          <h4>Envíame un mensaje</h4>

          <form action="enviar.php" method="post">
            <div class="form-group">
              <div class="input-group">
                <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Usurario@Ejemplo.com" required>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="mensaje" rows="3" placeholder="Mensaje..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </div>
        
      </div>
    </div>

    <div class="copy">
        <p><i class="fa-regular fa-copyright"></i> 2022 - 2023 <span>TOMÁS MAZZO</span></p>
    </div>
  </footer>
  
  
  